@model List<Student>
@{
}

<h2 class="text-center mb-5">List of Students</h2>

<!-- Search form -->
<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by name or grade...">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>




<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Students" asp-action="Create">New Student</a>
    </div>
    <div class="col">
        <a href="@Url.Action("DownloadCsv", "Students")" class="btn btn-primary">Download CSV</a>
    </div>
</div>


<table class="table table-bordered table-striped table-hover">
    <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Grade</th>
            <th>Image</th>
            <th>Joined</th>
        </tr>
    </thead>

    <thead>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Grade</td>
                <td><img src="/students/@student.ImageFileName" width="100" /></td>
                <td>@student.JoinDate.ToString("MM/dd/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-asp-controller="Students" asp-action="Edit"
                       asp-route-id="@student.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Students" asp-action="Delete"
                       asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
    </thead>

</table>